.App {
  font-family: Arial, sans-serif;
  min-height: 100vh;
  position: relative;
}

.main-content {
  position: relative;
  z-index: 1;
  
  &.dimmed {
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(57, 55, 72, 0.22);
      z-index: 2;
      pointer-events: none;
      min-height: 100vh;
    }
  }
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body.cart-open {
  overflow: hidden;
}
